---
type Props = {
	text: string;
	label: string;
};

const { text, label } = Astro.props;
---

<span class="font-base text-sm">
	<span
		class="underline hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out cursor-pointer"
		data-copy-text={text}
		data-copy-label={label}
		onclick="
			navigator.clipboard.writeText(this.getAttribute('data-copy-text'));
			const element = this;
			element.innerText = 'Copied!';
			setTimeout(() => {
				element.innerText = element.getAttribute('data-copy-label') || '';
			}, 1000)
		">
		{ label }
	</span>
</span>